.table-responsive {
	width: 100%;
	max-width: 1268px;
	td {
		cursor: pointer;

		&:active {
			background-color: #ccc;
		}
	}
}

.table-header-container {
	display: flex;
	align-items: center;
	justify-content: center;
	:nth-child(2) {
		padding: 0 15px;
	}
	:first-child:hover,
	:last-child:hover {
		transition: 0.2s;
		transform: scale(1.3);
	}
	.btn-blue {
		color: #1266f1;
	}
}
