header {
	width: 100%;
	display: flex;
	justify-content: center;
	.navbar {
		width: 100%;
		.container-fluid {
			width: 100%;
			display: flex;
			max-width: 1268px;
		}
	}
}

.nav-item {
	a {
		color: rgb(146, 146, 157) !important;
	}
}
