#container{
    width: 100%;
    display: flex;
    justify-content: center;
    .container-reset{
        display: flex;
        width: 100%;
        margin: 0 auto;
        flex-direction: column;
        .title{
            text-align: center;
            margin: 0;
            }
        .subTitle{
            text-align: center;
        }
        .form-reset{
            width: 55%;
            margin: 0 auto;
            label, input{
                width: 100%;
            }
            input{
                margin-top: 43px;
                line-height: 21px;
                padding: 8px;
                font-size: 14px;
            }

            .button-reset{
                background-color: #039be5;
                font-size: 14px;
                margin-top: 27px;
                border-radius: 8px;
                color: white;
                width: 100%;
                line-height: 21px;
                text-align: center;
                padding: 12px 0;
            }

            .singup{
                margin-top: 40px;
                text-align: center;
                a{
                    text-decoration: none;
                    color: #039be5;
                }
            }
        }
    }
}