.table-header-container {
	display: flex;
	align-items: center;
	justify-content: center;
    :nth-child(2) {
        padding: 0 15px;
    }
    :first-child:hover, :last-child:hover {
        transition: .2s;
        transform: scale(1.3);
    }
}