.btn-group {
	max-width: 365px;
}

.payment-icon {
	font-size: 1.25rem;
}

.search-card {
	max-width: 1128px;
	width: 100%;
	border: 1px solid #ccc;
	margin-bottom: 15px;

	.schedule-info {
		border-left: 1px solid #ccc;

		@media only screen and (max-width: 968px) {
			border: none;
		}
	}
}
