#container{
    width: 100%;
    display: flex;
    justify-content: center;
    .container-singup{
       display: flex;
        flex-direction: column;
        justify-content: space-between; 
        width: 100%;
        padding: 24px;
        margin: auto;
         .titulo{
                text-align: center;
            }
        
        .form-singup{
            width: 35%;
            margin: 10px auto;


            input,label{
                width: 100%;
            }
            input{
                height: 21px;
                padding: 8px;
            }
            
            label{
                margin-top: 30px;
                
            }

            .check{
                margin-top: 24px;
                background-color:  rgb(236, 233, 233);
                width: 100%;
                border-radius: 8px;
                font-size: small;
            }

            .button-singup{
                text-align: center;
                margin-left: 3%;
                width: 45%;
                margin-top: 24px;
                padding: 12px 0;
                border: solid 1px;
                border-radius: 8px;
            }
        }    
    }
}